<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-content">
      <div class="footer-left">
        {%- if site.email -%}
        <p class="footer-contact">
          <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
        </p>
        {%- endif -%}
      </div>

      <div class="footer-right">
        {%- if site.contributors -%}
        <div class="contributors">
          <h3>Contributors</h3>
          <div class="contributor-grid">
            {%- for contributor in site.contributors -%}
            <a href="https://github.com/{{ contributor.github | escape }}" target="_blank" class="contributor-link">
              <svg class="svg-icon github-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg>
              <span class="contributor-name">{{ contributor.name | escape }}</span>
            </a>
            {%- endfor -%}
          </div>
        </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</footer>
